name: deploy
on:
  push:
    branches:
      - 'main'
  schedule:
    # Enable periodic package updates in VM
    # At 00:00 on every Saturday.
    - cron: '0 0 * * 6'
  workflow_dispatch:
jobs:
  main:
    runs-on: [self-hosted, t4g.small]
    steps:
      - uses: actions/checkout@v6
      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: npm ci
      - run: npm run deploy
