name: format
on: 
  push:
jobs:
  main:
    runs-on: [self-hosted, t4g.small]
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun ci
      - run: bun run format
      - run: git diff --exit-code
